<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.4.3/d3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.11.0/metricsgraphics.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.11.0/metricsgraphics.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.11.0/metricsgraphics.css"></link>

  </head>
  <body style="background-color:{{ bg }}">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href='http://127.0.0.1:5000/'>Diary</a></li>
            <li class="active"><a href='http://127.0.0.1:5000/emotions'>Emotion Graphs</a></li>
            <li><a href='http://127.0.0.1:5000/wordcloud'>WordCloud</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <center><div id="positivity"></div></center>
    <script type="text/javascript">
        var viewData = JSON.parse('{{ positivity | tojson }}');
        var data = MG.convert.date(viewData, 'date');
        MG.data_graphic({
            title: "Overall Positivity",
            description: "This is a simple line chart. You can remove the area portion by adding area: false to the arguments list.",
            data: data,
            width: 1000,
            height: 400,
            min_y: -1,
            max_y: 1,
            right: 40,
            color: '#32F81B',
            target: document.getElementById('positivity'),
            x_accessor: 'date',
            y_accessor: 'value'
          });
    </script>
    <center><div id="joy"></div></center>
    <script type="text/javascript">
        var viewData = JSON.parse('{{ joy | tojson }}');
        var data = MG.convert.date(viewData, 'date');
        MG.data_graphic({
            title: "Joy",
            data: data,
            width: 1000,
            height: 400,
            right: 40,
            color: '#FFEF2C',
            target: document.getElementById('joy'),
            x_accessor: 'date',
            y_accessor: 'value'
          });
    </script>
    <center><div id="sadness"></div></center>
    <script type="text/javascript">
        var viewData = JSON.parse('{{ sadness | tojson }}');
        var data = MG.convert.date(viewData, 'date');
        MG.data_graphic({
            title: "Sadness",
            data: data,
            width: 1000,
            height: 400,
            right: 40,
            color: '#2CB5FF',
            target: document.getElementById('sadness'),
            x_accessor: 'date',
            y_accessor: 'value'
          });
    </script>
    <center><div id="anger"></div></center>
    <script type="text/javascript">
        var viewData = JSON.parse('{{ anger | tojson }}');
        var data = MG.convert.date(viewData, 'date');
        MG.data_graphic({
            title: "Anger",
            data: data,
            width: 1000,
            height: 400,
            right: 40,
            color: '#FF4C2C',
            target: document.getElementById('anger'),
            x_accessor: 'date',
            y_accessor: 'value'
          });
    </script>
    <center><div id="disgust"></div></center>
    <script type="text/javascript">
        var viewData = JSON.parse('{{ disgust | tojson }}');
        var data = MG.convert.date(viewData, 'date');
        MG.data_graphic({
            title: "Disgust",
            data: data,
            width: 1000,
            height: 400,
            right: 40,
            color: '#59BF64',
            target: document.getElementById('disgust'),
            x_accessor: 'date',
            y_accessor: 'value'
          });
    </script>
    <center><div id="fear"></div></center>
    <script type="text/javascript">
        var viewData = JSON.parse('{{ fear | tojson }}');
        var data = MG.convert.date(viewData, 'date');
        MG.data_graphic({
            title: "Fear",
            data: data,
            width: 1000,
            height: 400,
            right: 40,
            color: '#CF52F0',
            target: document.getElementById('fear'),
            x_accessor: 'date',
            y_accessor: 'value'
          });
    </script>
  </body>

</html>
